h1 AcedRails gem test

p JavaScript editor in div with GitHub theme.

div ace-editor="" ace-theme="github" ace-mode="javascript" style="height: 400px;"

p JavaScript editor in form (textarea).

form
  textarea ace-editor="" ace-theme="github" ace-mode="javascript" rows="10" cols="80" alert('hi!');